[submodule "repos/1000genome-workflow"]
	path = repos/1000genome-workflow
	url = https://github.com/pegasus-isi/1000genome-workflow
[submodule "repos/biobb_wf_md_setup"]
	path = repos/biobb_wf_md_setup
	url = https://github.com/bioexcel/biobb_wf_md_setup
[submodule "repos/chipseq"]
	path = repos/chipseq
	url = https://github.com/snakemake-workflows/chipseq
[submodule "repos/DeepDriveMD-pipeline"]
	path = repos/DeepDriveMD-pipeline
	url = https://github.com/DeepDriveMD/DeepDriveMD-pipeline
[submodule "repos/dna-seq-gatk-variant-calling"]
	path = repos/dna-seq-gatk-variant-calling
	url = https://github.com/snakemake-workflows/dna-seq-gatk-variant-calling
[submodule "repos/dna-seq-varlociraptor"]
	path = repos/dna-seq-varlociraptor
	url = https://github.com/snakemake-workflows/dna-seq-varlociraptor
[submodule "repos/iwc"]
	path = repos/iwc
	url = https://github.com/galaxyproject/iwc
[submodule "repos/metaGEM"]
	path = repos/metaGEM
	url = https://github.com/franciscozorrilla/metaGEM
[submodule "repos/Montage"]
	path = repos/Montage
	url = https://github.com/Caltech-IPAC/Montage
[submodule "repos/nf-core_ampliseq"]
	path = repos/nf-core_ampliseq
	url = https://github.com/nf-core/ampliseq
[submodule "repos/nf-core_atacseq"]
	path = repos/nf-core_atacseq
	url = https://github.com/nf-core/atacseq
[submodule "repos/nf-core_chipseq"]
	path = repos/nf-core_chipseq
	url = https://github.com/nf-core/chipseq
[submodule "repos/nf-core_eager"]
	path = repos/nf-core_eager
	url = https://github.com/nf-core/eager
[submodule "repos/nf-core_mag"]
	path = repos/nf-core_mag
	url = https://github.com/nf-core/mag
[submodule "repos/nf-core_rnaseq"]
	path = repos/nf-core_rnaseq
	url = https://github.com/nf-core/rnaseq
[submodule "repos/nf-core_sarek"]
	path = repos/nf-core_sarek
	url = https://github.com/nf-core/sarek
[submodule "repos/nf-core_viralrecon"]
	path = repos/nf-core_viralrecon
	url = https://github.com/nf-core/viralrecon
[submodule "repos/PyFLEXTRKR"]
	path = repos/PyFLEXTRKR
	url = https://github.com/FlexTRKR/PyFLEXTRKR
[submodule "repos/rna-seq-star-deseq2"]
	path = repos/rna-seq-star-deseq2
	url = https://github.com/snakemake-workflows/rna-seq-star-deseq2
[submodule "repos/V-pipe"]
	path = repos/V-pipe
	url = https://github.com/cbg-ethz/V-pipe
