[submodule "repos/1000genome-workflow"]
	path = repos/1000genome-workflow
	url = https://github.com/pegasus-isi/1000genome-workflow
[submodule "repos/biobb_wf_md_setup"]
	path = repos/biobb_wf_md_setup
	url = https://github.com/bioexcel/biobb_wf_md_setup
[submodule "repos/DeepDriveMD-pipeline"]
	path = repos/DeepDriveMD-pipeline
	url = https://github.com/DeepDriveMD/DeepDriveMD-pipeline
[submodule "repos/metaGEM"]
	path = repos/metaGEM
	url = https://github.com/franciscozorrilla/metaGEM
[submodule "repos/Montage"]
	path = repos/Montage
	url = https://github.com/Caltech-IPAC/Montage
[submodule "repos/nf-core_mag"]
	path = repos/nf-core_mag
	url = https://github.com/nf-core/mag
[submodule "repos/nf-core_rnaseq"]
	path = repos/nf-core_rnaseq
	url = https://github.com/nf-core/rnaseq
[submodule "repos/PyFLEXTRKR"]
	path = repos/PyFLEXTRKR
	url = https://github.com/FlexTRKR/PyFLEXTRKR
[submodule "repos/rna-seq-star-deseq2"]
	path = repos/rna-seq-star-deseq2
	url = https://github.com/snakemake-workflows/rna-seq-star-deseq2
[submodule "repos/V-pipe"]
	path = repos/V-pipe
	url = https://github.com/cbg-ethz/V-pipe
[submodule "repos/nf-core_bacass"]
	path = repos/nf-core_bacass
	url = https://github.com/nf-core/bacass
[submodule "repos/nf-core_cutandrun"]
	path = repos/nf-core_cutandrun
	url = https://github.com/nf-core/cutandrun
[submodule "repos/nf-core_demultiplex"]
	path = repos/nf-core_demultiplex
	url = https://github.com/nf-core/demultiplex
[submodule "repos/nf-core_differentialabundance"]
	path = repos/nf-core_differentialabundance
	url = https://github.com/nf-core/differentialabundance
[submodule "repos/nf-core_fetchngs"]
	path = repos/nf-core_fetchngs
	url = https://github.com/nf-core/fetchngs
[submodule "repos/nf-core_hic"]
	path = repos/nf-core_hic
	url = https://github.com/nf-core/hic
[submodule "repos/nf-core_methylseq"]
	path = repos/nf-core_methylseq
	url = https://github.com/nf-core/methylseq
[submodule "repos/nf-core_scrnaseq"]
	path = repos/nf-core_scrnaseq
	url = https://github.com/nf-core/scrnaseq
[submodule "repos/nf-core_smrnaseq"]
	path = repos/nf-core_smrnaseq
	url = https://github.com/nf-core/smrnaseq
[submodule "repos/nf-core_taxprofiler"]
	path = repos/nf-core_taxprofiler
	url = https://github.com/nf-core/taxprofiler
