process {
    executor = 'local'
}

executor {
    queueSize = 4
}

env {
    XDG_RUNTIME_DIR = System.getenv('XDG_RUNTIME_DIR')
}

conda {
    enabled = false
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

apptainer {
    enabled = false
}

podman {
    enabled = true
    runOptions = '--userns=keep-id --runtime /usr/sbin/runc'
}

params {
    max_cpus = 32
    max_memory = '40.GB'
    max_time = '48.h'
}

process {
    executor = 'local'
    maxForks = 4

    withLabel:process_high {
        cpus = 8
        memory = '40 GB'
    }

    withLabel:process_high_memory {
        cpus = 8
        memory = '40 GB'
    }

    withLabel:process_long {
        cpus = 8
        memory = '40 GB'
    }
}
