process {
    executor = 'local'
}

executor {
    queueSize = 6
}

conda {
    enabled = true
    useMamba = true
    cacheDir = "$projectDir/../../tools/nextflow-conda-cache"
    createTimeout = '180 min'
}

params {
    max_cpus = 32
    max_memory = '40.GB'
    max_time = '48.h'
}

process {
    executor = 'local'
    maxForks = 6

    withLabel:process_high {
        cpus = 8
        memory = '40 GB'
    }

    withLabel:process_high_memory {
        cpus = 8
        memory = '40 GB'
    }

    withLabel:process_long {
        cpus = 8
        memory = '40 GB'
    }
}
